@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

button {
  background: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.services__customization::after, .services__mic::after, .services__plane::after, .services__weather::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff1da;
  border-radius: 18px 5px 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes movePlane {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(300%, -300%);
            transform: translate(300%, -300%);
  }
}

@keyframes movePlane {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(300%, -300%);
            transform: translate(300%, -300%);
  }
}
.container {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding-left: 140px;
    padding-right: 140px;
  }
}

.subheading {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 1200px) {
  .subheading {
    font-size: 18px;
  }
}

.section-heading {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  text-align: center;
  color: #14183e;
}
@media (min-width: 1200px) {
  .section-heading {
    font-size: 50px;
    line-height: 1.29;
  }
}

@media (max-width: 1199.98px) {
  .header {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #fff1da;
  }
}
@media (min-width: 1200px) {
  .header {
    position: relative;
  }
}
@media (max-width: 1199.98px) {
  .header .container {
    padding-left: 52px;
    padding-right: 38px;
  }
}
@media (min-width: 1200px) {
  .header .container {
    padding-top: 47px;
  }
}

.logo {
  display: block;
  width: 115px;
  height: 34px;
}
.logo__icon {
  width: 100%;
  height: 100%;
}

.header__logo {
  margin-right: auto;
}

@media (min-width: 1200px) {
  .header__mobile-wrapper {
    display: none;
  }
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile-nav__list {
  display: none;
  padding-top: 90px;
  padding-bottom: 90px;
  gap: 30px;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
}

.mobile-nav__link {
  color: #737373;
}

.lang-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #212832;
  cursor: pointer;
}
@media (max-width: 1199.98px) {
  .lang-selector {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .lang-selector {
    margin-left: 40px;
  }
}
.lang-selector__icon {
  width: 14px;
  height: 8px;
  padding-left: 6.5px;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 22px;
  padding: 5px;
  cursor: pointer;
}
.burger__icon {
  width: 100%;
  height: 100%;
}
.burger__toggle:checked ~ .mobile-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__desktop-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1199.98px) {
  .header__desktop-wrapper {
    display: none;
  }
}

.header__desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}

.header__nav-item {
  font-size: 17px;
  line-height: 1.29;
  color: #212832;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-item:hover, .header__nav-item:focus {
  color: #df6951;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__nav-link {
  color: inherit;
}
.header__nav-link:focus {
  color: #df6951;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 65px;
  gap: 45px;
}

.auth__link {
  font-size: 17px;
  line-height: 1.29;
  color: #212832;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth__link:hover, .auth__link:focus {
  color: #df6951;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.auth__button {
  min-width: 102px;
  padding: 10px 18px;
  font-size: 17px;
  line-height: 1.29;
  color: #212832;
  border: 1px solid #212832;
  border-radius: 5px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth__button:hover, .auth__button:focus {
  color: #fff;
  background-color: #df6951;
}

.stain-decor {
  display: none;
}
@media (min-width: 1200px) {
  .stain-decor {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.hero .container {
  position: relative;
}
@media (max-width: 1199.98px) {
  .hero .container {
    padding-left: 60px;
    padding-right: 43px;
    padding-top: 75px;
    padding-bottom: 45px;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .hero .container {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media (min-width: 1200px) {
  .hero__text-wrapper {
    width: 550px;
  }
}

.hero__slogan {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #df6951;
}
@media (max-width: 1199.98px) {
  .hero__slogan {
    display: none;
  }
}

.hero__heading {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.85;
  color: #181e4b;
}
@media (min-width: 1200px) {
  .hero__heading {
    margin-top: 24px;
    font-size: 84px;
    line-height: 1.06;
    letter-spacing: -0.04em;
  }
}

.hero__text {
  margin-top: 30px;
  line-height: 1.88;
}
@media (max-width: 1199.98px) {
  .hero__text {
    display: none;
  }
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-top: 60px;
}
@media (min-width: 1200px) {
  .cta {
    margin-top: 34px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.cta__btn {
  width: 170px;
  padding: 20px 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: #fff;
  background-color: #f1a501;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
}

.cta__play-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  line-height: 1.5;
  color: #686d77;
}
.cta__play-btn::before {
  content: "▶";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  margin-right: 20px;
  color: #fff;
  background-color: #df6951;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.25);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.25);
  border-radius: 50%;
}

.hero__image {
  position: absolute;
  top: 23px;
  right: 100px;
}
@media (max-width: 1199.98px) {
  .hero__image {
    display: none;
  }
}

.hero__plane {
  position: absolute;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 3s;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 3s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 3s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 3s, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 3s;
}
@media (max-width: 1199.98px) {
  .hero__plane_top {
    top: 0;
    left: 0;
  }
}
@media (min-width: 1200px) {
  .hero__plane_top {
    top: 100px;
    right: 590px;
  }
}
@media (max-width: 1199.98px) {
  .hero__plane_bottom {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hero__plane_bottom {
    top: 150px;
    right: 70px;
  }
}
.hero__plane:hover {
  -webkit-animation: movePlane 3s;
          animation: movePlane 3s;
}

.hero__pluses {
  position: absolute;
  bottom: 63px;
  right: -72px;
}
@media (min-width: 1200px) {
  .hero__pluses {
    display: none;
  }
}

.services .container {
  padding-top: 75px;
}
@media (max-width: 1199.98px) {
  .services .container {
    padding-left: 63px;
    padding-right: 69px;
  }
}
@media (min-width: 1200px) {
  .services .container {
    position: relative;
    padding-top: 100px;
  }
}

.services__subheading {
  text-transform: uppercase;
}

.services__section-heading {
  margin-top: 25px;
}
@media (min-width: 1200px) {
  .services__section-heading {
    margin-top: 10px;
  }
}

.services__view-more {
  display: block;
  margin-top: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 2.25;
  text-align: center;
  color: #737373;
}
@media (min-width: 1200px) {
  .services__view-more {
    display: none;
  }
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 45px;
  margin-top: 15px;
}
@media (min-width: 1200px) {
  .services__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 272px;
  padding-top: 25px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #fff;
  border-radius: 36px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1199.98px) {
  .services__item:nth-child(n+3) {
    display: none;
  }
}
.services__item:hover {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.services__item:hover::after {
  opacity: 1;
}
.services__item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px;
  left: -30px;
  width: 100px;
  height: 100px;
  background-color: #df6951;
  border-radius: 30px 0px 10px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services__icon-wrapper {
  position: relative;
}

.services__weather::after {
  top: 26px;
  right: -23px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.services__plane::after {
  top: 10px;
  right: 51px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.services__mic::after {
  top: -7px;
  right: -25px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.services__customization::after {
  top: 16px;
  right: -29px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.services__icon {
  position: relative;
  z-index: 1;
}

.weather-icon {
  width: 68px;
  height: 71px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.plane-icon {
  width: 130px;
  height: 106px;
}

.services__name {
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  text-align: center;
  color: #1e1d4c;
}

.services__description {
  margin-top: 15px;
  line-height: 1.63;
  text-align: center;
}

.services__pluses {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1199.98px) {
  .services__pluses {
    display: none;
  }
}

.destinations .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
@media (max-width: 1199.98px) {
  .destinations .container {
    position: relative;
    padding-left: 65px;
    padding-right: 43px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .destinations .container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.destinations__section-heading {
  margin-top: 25px;
}

.destinations__list-wrapper {
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .destinations__list-wrapper {
    position: relative;
    margin-top: 60px;
  }
}

.destinations__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 75px;
}
@media (min-width: 1200px) {
  .destinations__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
}

.destinations__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300px;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}

.destinations__image {
  border-radius: 24px;
}

.destinations__text-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.destinations__location-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.destinations__duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.destinations__icon {
  width: 20px;
  height: 20px;
  margin-right: 13px;
}

.destinations__pluses {
  position: absolute;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  top: 35px;
  left: -50px;
}
@media (min-width: 1200px) {
  .destinations__pluses {
    display: none;
  }
}

.destinations__decor {
  position: absolute;
  top: 151px;
  right: -67px;
  z-index: -1;
}
@media (max-width: 1199.98px) {
  .destinations__decor {
    display: none;
  }
}

.steps .container {
  position: relative;
  overflow: hidden;
}
@media (max-width: 1199.98px) {
  .steps .container {
    padding-top: 120px;
    padding-bottom: 75px;
    padding-left: 17px;
    padding-right: 11px;
  }
}
@media (min-width: 1200px) {
  .steps .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    padding-bottom: 120px;
  }
}

@media (min-width: 1200px) {
  .steps__text-wrapper {
    max-width: 510px;
  }
}

@media (max-width: 1199.98px) {
  .steps__subheading {
    display: none;
  }
}

.steps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
  margin-top: 90px;
}

.steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.steps__name {
  font-weight: 700;
}

.steps__text {
  margin-top: 5px;
  font-weight: 400;
}

.advert {
  width: 300px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 26px;
  -webkit-box-shadow: 74px -75px 81px -90px rgb(89, 177, 230), 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 74px -75px 81px -90px rgb(89, 177, 230), 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
@media (min-width: 1200px) {
  .advert {
    position: relative;
    width: 370px;
    height: 400px;
  }
}

.advert__image {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #000000;
  border-radius: 24px;
}

.advert__name {
  margin-top: 23px;
  font-size: 18px;
  color: #080809;
}

.advert__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  gap: 25px;
  color: #84829a;
}

.advert__time {
  max-width: 50px;
}

.advert__author::before {
  content: "|";
  margin-right: 4px;
  font-weight: 400;
}

.advert__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  gap: 15px;
}

.advert__icon {
  width: 29px;
  height: 31px;
}

.advert__stats-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 13px;
}

.advert__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13px;
}

.advert__building-icon {
  width: 13px;
  height: 14px;
}

.advert__like-icon {
  width: 16px;
  height: 16px;
}

.advert__popup {
  position: absolute;
  bottom: 66px;
  right: -90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 25px;
  background-color: #fff;
  border-radius: 18px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
@media (max-width: 1199.98px) {
  .advert__popup {
    display: none;
  }
}

.advert__popup-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.advert__popup-name {
  margin-top: 6px;
  font-size: 18px;
  line-height: 1.24;
  letter-spacing: -0.015em;
  color: #080809;
}

.advert__progress {
  margin-top: 14px;
  font-size: 14px;
  line-height: 1.24;
  letter-spacing: -0.055em;
  color: #080809;
}

.advert__progress-bar {
  display: block;
  margin-top: 10px;
  width: 156px;
  height: 5px;
  border-radius: 30px;
  background-color: #f5f5f5;
}
.advert__progress-bar_filled {
  display: block;
  width: 40%;
  height: inherit;
  border-radius: inherit;
  background-color: #8a79df;
}

.advert__percentage {
  color: #8a79df;
}

.advert__status {
  font-size: 14px;
  line-height: 1.24;
  letter-spacing: -0.035em;
  color: #84829a;
}

.steps__pluses {
  position: absolute;
}
@media (min-width: 1200px) {
  .steps__pluses {
    display: none;
  }
}
.steps__pluses_top {
  top: -40px;
  left: -50px;
}
.steps__pluses_bottom {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  bottom: -74px;
  right: 21px;
}

.testimonials .container {
  padding-top: 75px;
}
@media (min-width: 1200px) {
  .testimonials .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .testimonials__heading-wrapper {
    width: 410px;
  }
}

@media (min-width: 1200px) {
  .testimonials__subheading {
    text-align: left;
    text-transform: uppercase;
  }
}

.testimonials__section-heading {
  margin-top: 27px;
}
@media (min-width: 1200px) {
  .testimonials__section-heading {
    margin-top: 8px;
    text-align: left;
  }
}

.testimonials__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  padding: 15px 10px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}
@media (min-width: 1200px) {
  .testimonials__card {
    position: relative;
    width: 540px;
    padding-top: 28px;
    padding-bottom: 34px;
    padding-left: 34px;
    padding-right: 68px;
  }
}

.testimonials__avatar {
  width: 68px;
  height: 68px;
}
@media (min-width: 1200px) {
  .testimonials__avatar {
    position: absolute;
    top: -32px;
    left: -36px;
  }
}

.testimonials__text {
  line-height: 2;
}

.testimonials__name {
  margin-top: 35px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.testimonials__location {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.5;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.partners .container {
  padding-top: 75px;
}

@media (min-width: 1200px) {
  .partners__subheading {
    display: none;
  }
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .partners__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.partners__item {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 10px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1199.98px) {
  .partners__item {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
}
.partners__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
@media (max-width: 1199.98px) {
  .partners__item:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}
@media (max-width: 1199.98px) {
  .partners__item:last-child {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .partners__item:nth-last-child(2) {
    margin-top: 68px;
  }
}

.subscribe .container {
  position: relative;
}
@media (max-width: 1199.98px) {
  .subscribe .container {
    padding-top: 75px;
    padding-bottom: 58px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 1200px) {
  .subscribe .container {
    padding-top: 124px;
    padding-bottom: 90px;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .subscribe__wrapper {
    position: relative;
    width: 1170px;
    height: 407px;
    padding: 80px 150px;
    background-color: rgba(223, 215, 249, 0.2);
    border-radius: 129px 20px 20px 20px;
  }
}
.subscribe__wrapper::before {
  content: "";
  position: absolute;
  left: -85px;
  bottom: 0;
  display: block;
  width: 480px;
  height: 361px;
  background-image: url("../images/sub-decor.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1199.98px) {
  .subscribe__wrapper::before {
    display: none;
  }
}
.subscribe__wrapper::after {
  content: "";
  position: absolute;
  top: -44px;
  right: -108px;
  display: block;
  width: 264px;
  height: 351px;
  background-image: url("../images/sub-decor.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
@media (max-width: 1199.98px) {
  .subscribe__wrapper::after {
    display: none;
  }
}

.subscribe__title {
  font-weight: 600;
  font-size: 33px;
  line-height: 1.64;
  text-align: center;
  color: #5e6282;
}
@media (max-width: 1199.98px) {
  .subscribe__title {
    display: none;
  }
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 38px;
  margin-top: 74px;
}
@media (max-width: 1199.98px) {
  .subscribe__form {
    display: none;
  }
}

.subscribe__input {
  width: 421px;
  height: 68px;
  padding: 28px 25px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  z-index: 1;
}
.subscribe__input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #39425d;
}
.subscribe__input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #39425d;
}
.subscribe__input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #39425d;
}
.subscribe__input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #39425d;
}
.subscribe__input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #39425d;
}

.subscribe__button {
  min-width: 155px;
  height: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.35;
  text-align: center;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff946d), to(#ff7d68));
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
}
@media (min-width: 1200px) {
  .subscribe__button {
    min-width: 180px;
    height: 68px;
  }
}
.subscribe__button_mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .subscribe__button_mobile {
    display: none;
  }
}

.subscribe__icon {
  position: absolute;
}
@media (max-width: 1199.98px) {
  .subscribe__icon {
    bottom: 57px;
    right: 40px;
    width: 61px;
    height: 56px;
  }
}
@media (min-width: 1200px) {
  .subscribe__icon {
    top: -30px;
    right: -30px;
    width: 70px;
    height: 70px;
  }
}

.subscribe__pluses {
  position: absolute;
  right: 10px;
  bottom: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media (max-width: 1199.98px) {
  .subscribe__pluses {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fff1da;
  }
}
@media (min-width: 1200px) {
  .footer {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
  }
  .footer::after {
    content: "";
    position: absolute;
    bottom: -279px;
    right: -363px;
    display: block;
    width: 478.94px;
    height: 496.86px;
    background: #d5aee4;
    opacity: 0.8;
    -webkit-filter: blur(75px);
            filter: blur(75px);
  }
}
@media (max-width: 1199.98px) {
  .footer .container {
    padding-left: 82px;
    padding-right: 82px;
  }
}

@media (min-width: 1200px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .footer__logo-wrapper {
    max-width: 207px;
  }
}

.footer__logo {
  font-size: 44px;
  line-height: 1.5;
  color: #181e4b;
}

.footer__slogan {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .footer__slogan {
    font-size: 13px;
    line-height: 1.23;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}
@media (max-width: 1199.98px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 58px;
  }
}
@media (min-width: 1200px) {
  .footer__nav {
    gap: 80px;
    margin-left: 80px;
  }
}

.footer__nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__group-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.24;
  color: #080809;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 34px;
  gap: 12px;
  font-size: 18px;
  line-height: 1.24;
}

.footer__nav-link {
  color: #5e6282;
}

@media (max-width: 1199.98px) {
  .footer__socials {
    margin-top: 58px;
  }
}
@media (min-width: 1200px) {
  .footer__socials {
    margin-left: 80px;
  }
}

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (max-width: 1199.98px) {
  .footer__socials-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__socials-icon {
  width: 24px;
  height: 24px;
}

.stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 214px;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .stores {
    margin-top: 35px;
  }
}

.stores__text {
  font-size: 20px;
  line-height: 1.25;
}

.stores__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.stores__icon {
  width: 100px;
  height: 35px;
}

.footer__copyright {
  margin-top: 58px;
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
}/*# sourceMappingURL=main.css.map */