@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

button {
  background: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.services__plane::after, .services__weather::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff1da;
  border-radius: 18px 5px 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes movePlane {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
}

@keyframes movePlane {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
}
.container {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding-left: 160px;
    padding-right: 160px;
  }
}

.subheading {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.section-heading {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  text-align: center;
  color: #14183e;
}

.header {
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (max-width: 1199.98px) {
  .header {
    background-color: #fff1da;
  }
}
.header .container {
  padding-left: 52px;
  padding-right: 38px;
}

.logo {
  width: 115px;
  height: 34px;
}
.logo__icon {
  width: 100%;
  height: 100%;
}

.header__logo {
  margin-right: auto;
}

@media (min-width: 1200px) {
  .header__mobile-wrapper {
    display: none;
  }
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile-nav__list {
  display: none;
  padding-top: 90px;
  padding-bottom: 90px;
  gap: 30px;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
}

.mobile-nav__link {
  color: #737373;
}

.lang-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #212832;
  cursor: pointer;
}
.lang-selector__icon {
  width: 14px;
  height: 8px;
  padding-left: 6.5px;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 22px;
  padding: 5px;
  cursor: pointer;
}
.burger__icon {
  width: 100%;
  height: 100%;
}
.burger__toggle:checked ~ .mobile-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1199.98px) {
  .header__desktop-wrapper {
    display: none;
  }
}

.hero .container {
  position: relative;
  padding-top: 75px;
  padding-bottom: 45px;
  padding-left: 60px;
  padding-right: 43px;
  overflow: hidden;
}

@media (max-width: 1199.98px) {
  .hero__slogan {
    display: none;
  }
}

.hero__heading {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.85;
  color: #181e4b;
}

@media (max-width: 1199.98px) {
  .hero__text {
    display: none;
  }
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-top: 60px;
}

.cta__btn {
  width: 170px;
  padding: 20px 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: #fff;
  background-color: #f1a501;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
}

.cta__play-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  line-height: 1.5;
  color: #686d77;
}
.cta__play-btn::before {
  content: "▶";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  margin-right: 20px;
  color: #fff;
  background-color: #df6951;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.25);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.25);
  border-radius: 50%;
}

.hero__plane {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 3s;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 3s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 3s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 3s, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 3s;
}
.hero__plane:hover {
  -webkit-animation: movePlane 3s;
          animation: movePlane 3s;
}

.hero__pluses {
  position: absolute;
  bottom: 63px;
  right: -72px;
}

.services .container {
  padding-top: 75px;
  padding-left: 63px;
  padding-right: 69px;
}

.services__subheading {
  text-transform: uppercase;
}

.services__section-heading {
  margin-top: 25px;
}

.services__view-more {
  display: block;
  margin-top: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 2.25;
  text-align: center;
  color: #737373;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 45px;
  margin-top: 15px;
}

.services__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 272px;
  padding-top: 25px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #fff;
  border-radius: 36px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1199.98px) {
  .services__item:nth-child(n+3) {
    display: none;
  }
}
.services__item:hover {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.services__item:hover::after {
  opacity: 1;
}
.services__item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px;
  left: -30px;
  width: 100px;
  height: 100px;
  background-color: #df6951;
  border-radius: 30px 0px 10px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services__icon-wrapper {
  position: relative;
}

.services__weather::after {
  top: 26px;
  right: -23px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.services__plane::after {
  top: 10px;
  right: 51px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.services__icon {
  position: relative;
  z-index: 1;
}

.weather-icon {
  width: 68px;
  height: 71px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.plane-icon {
  width: 130px;
  height: 106px;
}

.services__name {
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  text-align: center;
  color: #1e1d4c;
}

.services__description {
  margin-top: 15px;
  line-height: 1.63;
  text-align: center;
}

@media (max-width: 1199.98px) {
  .services__pluses {
    display: none;
  }
}

.destinations .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 65px;
  padding-right: 43px;
  overflow: hidden;
}

.destinations__section-heading {
  margin-top: 25px;
}

.destinations__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  gap: 75px;
}

.destinations__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300px;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}

.destinations__image {
  border-radius: 24px;
}

.destinations__text-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.destinations__location-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.destinations__duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.destinations__icon {
  width: 20px;
  height: 20px;
  margin-right: 13px;
}

.destinations__pluses {
  position: absolute;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  top: 35px;
  left: -50px;
}

.steps .container {
  position: relative;
  padding-top: 120px;
  padding-bottom: 75px;
  padding-left: 17px;
  padding-right: 11px;
  overflow: hidden;
}

@media (max-width: 1199.98px) {
  .steps__subheading {
    display: none;
  }
}

.steps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
  margin-top: 90px;
}

.steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.steps__name {
  font-weight: 700;
}

.steps__text {
  margin-top: 5px;
  font-weight: 400;
}

.advert {
  max-width: 300px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 26px;
  -webkit-box-shadow: 74px -75px 81px -90px rgb(89, 177, 230), 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 74px -75px 81px -90px rgb(89, 177, 230), 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.advert__image {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #000000;
  border-radius: 24px;
}

.advert__name {
  margin-top: 23px;
  font-size: 18px;
  color: #080809;
}

.advert__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  gap: 25px;
  color: #84829a;
}

.advert__time {
  max-width: 50px;
}

.advert__author::before {
  content: "|";
  margin-right: 4px;
  font-weight: 400;
}

.advert__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  gap: 15px;
}

.advert__icon {
  width: 29px;
  height: 31px;
}

.advert__stats-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 13px;
}

.advert__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13px;
}

.advert__building-icon {
  width: 13px;
  height: 14px;
}

.advert__like-icon {
  width: 16px;
  height: 16px;
}

@media (max-width: 1199.98px) {
  .advert__popup {
    display: none;
  }
}

.steps__pluses {
  position: absolute;
}
.steps__pluses--top {
  top: -40px;
  left: -50px;
}
.steps__pluses--bottom {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  bottom: -74px;
  right: 21px;
}

.testimonials .container {
  padding-top: 75px;
}

.testimonials__section-heading {
  margin-top: 27px;
}

.testimonials__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  padding: 15px 10px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}

.testimonials__avatar {
  width: 68px;
  height: 68px;
}

.testimonials__text {
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 2;
}

.testimonials__name {
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.testimonials__location {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.5;
}

.partners .container {
  padding-top: 75px;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__item {
  scale: 1;
  border-radius: 10px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.partners__item:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  scale: 1.1;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
@media (max-width: 1199.98px) {
  .partners__item:last-child {
    display: none;
  }
}
.partners__item:nth-last-child(2) {
  margin-top: 68px;
}

.subscribe .container {
  position: relative;
  padding-top: 75px;
  padding-bottom: 58px;
  padding-left: 35px;
  padding-right: 35px;
}

@media (max-width: 1199.98px) {
  .subscribe__title {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .subscribe__form {
    display: none;
  }
}

.subscribe__button {
  min-width: 155px;
  height: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.35;
  text-align: center;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff946d), to(#ff7d68));
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
}
.subscribe__button--mobile {
  display: none;
}
@media (max-width: 1199.98px) {
  .subscribe__button--mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe__icon {
  position: absolute;
  bottom: 57px;
  right: 0;
  width: 61px;
  height: 56px;
}

@media (max-width: 1199.98px) {
  .subscribe__pluses {
    display: none;
  }
}

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff1da;
}
.footer .container {
  padding-left: 82px;
  padding-right: 82px;
}

.footer__logo {
  font-size: 44px;
  line-height: 1.5;
  color: #181e4b;
}

.footer__slogan {
  margin-top: 20px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
  margin-top: 58px;
}

.footer__nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__group-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.24;
  color: #080809;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 34px;
  gap: 12px;
  font-size: 18px;
  line-height: 1.24;
}

.footer__nav-link {
  color: #5e6282;
}

.footer__socials {
  margin-top: 58px;
}

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.footer__socials-icon {
  width: 24px;
  height: 24px;
}

.stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 214px;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
}

.stores__text {
  font-size: 20px;
  line-height: 1.25;
}

.stores__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.stores__icon {
  width: 100px;
  height: 35px;
}

.footer__copyright {
  margin-top: 58px;
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
}/*# sourceMappingURL=main.css.map */