.footer {
  @include mobile-only {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $header-bg-color;
  }
  @include desktop {
    position: relative;
    padding-top: 166px;
    padding-bottom: 80px;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      bottom: -279px;
      right: -363px;
      display: block;
      width: 478.94px;
      height: 496.86px;
      background: #d5aee4;
      opacity: 0.8;
      filter: blur(75px);
    }
  }
  .container {
    @include mobile-only {
      padding-left: 82px;
      padding-right: 82px;
    }
  }
}

.footer__wrapper {
  @include desktop {
    display: flex;
  }
}

.footer__logo-wrapper {
  @include desktop {
    max-width: 207px;
  }
}

.footer__logo {
  font-size: 44px;
  line-height: 1.5;
  color: $hero-title-color;
}

.footer__slogan {
  margin-top: 20px;
  @include desktop {
    font-size: 13px;
    line-height: 1.23;
  }
}

.footer__nav {
  display: flex;
  gap: 45px;
  @include mobile-only {
    flex-direction: column;
    margin-top: 58px;
  }
  @include desktop {
    gap: 80px;
    margin-left: 80px;
  }
}

.footer__nav-group {
  display: flex;
  flex-direction: column;
}

.footer__group-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.24;
  color: $alt-title-color;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  gap: 12px;
  font-size: 18px;
  line-height: 1.24;
}

.footer__nav-link {
  color: $text-color;
}

.footer__socials {
  @include mobile-only {
    margin-top: 58px;
  }
  @include desktop {
    margin-left: 80px;
  }
}

.footer__socials-list {
  display: flex;
  align-items: center;
  gap: 20px;
  @include mobile-only {
    justify-content: center;
  }
}

.footer__socials-icon {
  width: 24px;
  height: 24px;
}

.stores {
  display: flex;
  flex-direction: column;
  width: 214px;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    margin-top: 35px;
  }
}

.stores__text {
  font-size: 20px;
  line-height: 1.25;
}

.stores__list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.stores__icon {
  width: 100px;
  height: 35px;
}

.footer__copyright {
  margin-top: 58px;
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
}
