.header {
  @include mobile-only {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $header-bg-color;
  }
  @include desktop {
    position: relative;
  }
  .container {
    @include mobile-only {
      padding-left: 52px;
      padding-right: 38px;
    }
    @include desktop {
      padding-top: 47px;
    }
  }
}

.logo {
  display: block;
  width: 115px;
  height: 34px;

  &__icon {
    width: 100%;
    height: 100%;
  }
}

.header__logo {
  margin-right: auto;
}

.header__mobile-wrapper {
  @include desktop {
    display: none;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav__controls {
  display: flex;
  align-items: center;
  width: 100%;
}

.mobile-nav__list {
  display: none;
  padding-top: 90px;
  padding-bottom: 90px;
  gap: 30px;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
}

.mobile-nav__link {
  color: $mobile-nav-color;
}

.lang-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-family: $alt-font;
  font-size: 17px;
  font-weight: 500;
  color: $nav-color;
  cursor: pointer;

  @include mobile-only {
    margin-right: 20px;
  }

  @include desktop {
    margin-left: 40px;
  }

  &__icon {
    width: 14px;
    height: 8px;
    padding-left: 6.5px;
  }
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 22px;
  padding: 5px;
  cursor: pointer;

  &__icon {
    width: 100%;
    height: 100%;
  }

  &__toggle:checked ~ .mobile-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.header__desktop-wrapper {
  display: flex;
  @include mobile-only {
    display: none;
  }
}

.header__desktop-nav {
  display: flex;
  flex-grow: 1;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 45px;
}

.header__nav-item {
  font-size: 17px;
  line-height: 1.29;
  color: $nav-color;
  transition: all $transition;
  &:hover,
  &:focus {
    color: $accent-color;
    transform: scale(1.1);
  }
}

.header__nav-link {
  color: inherit;
  &:focus {
    color: $accent-color;
  }
}

.auth {
  display: flex;
  align-items: center;
  margin-left: 65px;
  gap: 45px;
}

.auth__link {
  font-size: 17px;
  line-height: 1.29;
  color: $nav-color;
  transition: all $transition;
  &:hover,
  &:focus {
    color: $accent-color;
    transform: scale(1.1);
  }
}

.auth__button {
  min-width: 102px;
  padding: 10px 18px;
  font-size: 17px;
  line-height: 1.29;
  color: $nav-color;
  border: 1px solid $nav-color;
  border-radius: 5px;
  transition: all $transition;
  &:hover,
  &:focus {
    color: #fff;
    background-color: $accent-color;
  }
}

.stain-decor {
  display: none;
  @include desktop {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
