// @import "../base/mixins";
// @import "../base/vars";

.subheading {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  @include desktop {
    font-size: 18px;
  }
}
