$main-font: "Poppins", sans-serif;
$alt-font: "Open Sans", sans-serif;
$heading-font: "Volkhov", serif;
$placeholder-font: "Montserrat", sans-serif;

$nav-color: #212832;
$mobile-nav-color: #737373;
$text-color: #5e6282;
$alt-text-color: #84829a;
$accent-color: #df6951;
$header-bg-color: #fff1da;
$hero-title-color: #181e4b;
$section-title-color: #14183e;
$alt-title-color: #080809;
$steps-name-color: #1e1d4c;
$statusbar-color: #8a79df;
$hero-btn-color: #f1a501;
$btn-text-color: #686d77;

$sub-btn-color: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
